h1{
    text-align: center;
    color: rgb(33, 35, 33);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    text-align: justify;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    text-align: justify;
}

.numCopas {
    text-align: left;
}
